/web/node_modules/*
/web/node_modules/
./web/node_modules/*
./web/node_modules/

/old/web/node_modules/*
/old/web/node_modules/
./old/web/node_modules/*
./old/web/node_modules/

/team-19-social-robot/skeletonFinderAPI/.venv/
/team-19-social-robot/skeletonFinderAPI/.venv/*
./team-19-social-robot/skeletonFinderAPI/.venv/
./team-19-social-robot/skeletonFinderAPI/.venv/*

./old/team-19-social-robot/skeletonFinderAPI/.venv1/
/old/team-19-social-robot/skeletonFinderAPI/.venv1/
./old/team-19-social-robot/skeletonFinderAPI/.venv1/*
/old/team-19-social-robot/skeletonFinderAPI/.venv1/*

/old/team-19-social-robot/skeletonFinderAPI/.idea
*/old/team-19-social-robot/skeletonFinderAPI/.idea
/team-19-social-robot/skeletonFinderAPI/.venv/
/team-19-social-robot/skeletonFinderAPI/.idea
./team-19-social-robot/skeletonFinderAPI/.idea





